
<div id="formholder">
<form name="input" action="/output" method="post">
Google Spreadsheet:<br>
<textarea cols="50" name="spreadsheet"></textarea><br>
<div>&nbsp;</div>
CSS Selectors (Optional):<br>
<textarea cols="50" name="selectors"></textarea><br>
<div>&nbsp;</div>
URLs:<br>
<textarea rows="20" cols="50" name="urls"></textarea><br>
<input type="submit">
</form>
</div>
</div>