
<div id="formholder">
<form name="input" action="/output" method="post">
Google Spreadsheet:<br>
<textarea cols="50" name="spreadsheet"></textarea><br>
URLs:<br>
<textarea rows="20" cols="50" name="URL1"></textarea><br>
<input type="submit">
</form>
</div>
</div>